.header{
    background-color: black;
    color: white;    
}


.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
} 

img { 
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
  }

