@font-face 
{ 
    font-family: RobotoBold; 
    src: url('Roboto/Roboto-Bold.ttf'); 
    font-weight:  bold;
} 

@font-face 
{ 
    font-family: RobotoMedium; 
    src: url('Roboto/Roboto-Medium.ttf'); 
} 

@font-face 
{ 
    font-family: RobotoLight; 
    src: url('Roboto/Roboto-Light.ttf'); 
} 

.Body
{
    background-image: linear-gradient( #FAFAFA, #e0e0e0);
    padding: 0 !important;
    margin: 0 !important;
}

.MainBody
{
    background-color: white;
    margin: auto;
    padding-top: 50px;
    max-width: 1124px;
    object-fit: contain; 
}

.Header
{
    background-image: linear-gradient( #F0F0F0 92.5%, #FAFAFA);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

.HeadingH1
{
    margin-top: 0;
}


.SubheadingH3
{
    text-indent: 25px;
}

.CenterAlign
{
    margin: auto;
    max-width: 1024px;
    object-fit: contain; 
}

.Details{
    padding-top: 50px;
    padding-bottom: 50px;
}

.SubHeading{
    width: 150px;
    text-align: center;
}

.SubDetail{
    flex: 100%;
    text-align: left;
    padding-left: 150px;
}

.Link
{
    color: #e91d63;
}

.Link:hover
{
    color: #FA6C9D;
}