.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
} 

img { 
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
  }

.SkillsHeadingBanner{
    width: auto;
    content: fill;
}

.SkillsHeading{
    width: 33.333%;
    text-align: right;
    padding-bottom: 0px;
}

.SkillsBody{
    flex: 100%;
    text-align: left;
    padding-left: 33.33%;
}


.ContactHeading{
    width: 33.333%;
    text-align: right;
}

.ContactsBody{
    flex: 100%;
    text-align: left;
    padding-left: 33.333%;
}

.Details{    
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}